


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.part-1{

    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom:100px;

}
.part-1 .span-1{
    color:orange;
}

.part-1 a{
    text-decoration: none;
    background-image: linear-gradient(hsl(32, 94%, 32%),rgb(143, 120, 87));
    color: white;
    padding: 10px 40px;
}

.part-1-left{
    width: 50%;
    padding-left: 6%;
    text-align: justify;
}
.part-1-right{
    width: 50%;
    padding-left: 8%;
}
.part-1-right img{
    width: 60%;
}


.part-2{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.part-2-left{
    width: 50%;
    margin-left: 6%;
}
.part-2-left img{
    width: 60%;
}
.part-2-right{
    width: 50%;
    text-align: justify;
    margin-right: 15%;
  

}

.part-2 a{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(194, 150, 70));
    color: white;
    padding: 10px 40px;
}



.part-3{
    margin: 150px 0px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.part-3-text{
    text-align: center;
    margin-bottom: 70px;
    font-size: 22px;
}
.part-3-extra{
    display: flex;
}

.part-3-text-2{
    color: orange;
}
.part-3-left{
    width:40%;
    margin-left: 5%;
    box-shadow: 5px 5px 20px gray;
    padding: 20px 40px;
    border-left: 7px solid;
    border-image: linear-gradient(#d6a343,orange);
    border-image-slice: 1;
}
.part-3-right{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 20px gray;
    padding: 20px 40px;

    border-left: 7px solid;
    border-image: linear-gradient(blue,rgb(138, 138, 194));
    border-image-slice: 1;
    

}


footer{
    text-align: center;
    margin-bottom: 40px;
}

.miraj{
    color: orange;
    font-weight: 700;
}